# Introduction

In our case study, we are working with multiple datasets related to police-involved killings and police deaths. Before diving into the analysis, it is crucial to ensure that the data is of high quality and suitable for further examination. This involves assessing the completeness, consistency, accuracy, and reliability of the datasets.

**Washington Post Dataset:**
The Fatal Force dataset tracks details about each police-involved killing in the United States. The data is collected from various sources, including local news reports, law enforcement websites, social media, and independent databases. The Washington Post, the curator of this dataset, conducts additional reporting to enhance its accuracy and comprehensiveness. The dataset focuses on shootings where a police officer, in the line of duty, shoots and kills a civilian. It does not include deaths in police custody or non-shooting deaths.

**Fatal Encounters Dataset:**
The Fatal Encounters dataset aims to document all deaths that occur when police are present or caused by the police, regardless of the circumstances. The dataset includes on-duty and off-duty incidents, criminal and line-of-duty cases, intentional and accidental deaths. It is designed to be a comprehensive resource for analyzing police-related fatalities. The data is made available for free, and the project relies on support to continue its data collection efforts.

**Police Deaths Dataset:**
The Police Deaths dataset focuses on incidents involving the deaths of police officers. The primary source of data is the Officer Down Memorial Page (ODMP), which has been maintained since 1996 by a police officer. The dataset provides information about police officers who lost their lives in the line of duty.

**Tax Policy Center Dataset:** The Tax Policy Center dataset provides insights into how state and local governments allocate their resources across different expenditure categories relative to personal income.

**Source**: [Washington Post Dataset](https://github.com/washingtonpost/data-police-shootings), [Fatal Encounters Dataset](https://fatalencounters.org), [Police Deaths Dataset](https://github.com/fivethirtyeight/data/tree/master/police-deaths), [Tax Policy Center Dataset](https://www.taxpolicycenter.org/statistics/state-and-local-general-expenditures-percentage-personal-income)

In [ ]:
import pandas as pd
import warnings
import os

In [ ]:
warnings.filterwarnings("ignore")

In [ ]:
%pwd

'/content'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pd.set_option("display.max_rows", 20)

# Washington Post Database1
## Data Importation
<div style="width: 800px;">To kickstart our analysis, we'll begin by importing the dataset into our Jupyter Notebook. The breakdown of the steps involved are mainly loading the dataset, diagnosticating about the general informations about the dataset (number of columns, the different types of it, the shape of the entire dataframe...)</div>

In [ ]:
washington_post_df_1 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/data/WashingtonPostDatabase1.csv', 
                                 sep = ',', encoding = "utf-8")

In [ ]:
washington_post_df_1.head(20)

,id,date,threat_type,flee_status,armed_with,city,county,state,latitude,longitude,location_precision,name,age,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids
0,3,2015-01-02,point,not,gun,Shelton,Mason,WA,47.246826,-123.121592,not_available,Tim Elliot,53.0,male,A,not_available,True,False,73
1,4,2015-01-02,point,not,gun,Aloha,Washington,OR,45.487421,-122.891696,not_available,Lewis Lee Lembke,47.0,male,W,not_available,False,False,70
2,5,2015-01-03,move,not,unarmed,Wichita,Sedgwick,KS,37.694766,-97.280554,not_available,John Paul Quintero,23.0,male,H,not_available,False,False,238
3,8,2015-01-04,point,not,replica,San Francisco,San Francisco,CA,37.762910,-122.422001,not_available,Matthew Hoffman,32.0,male,W,not_available,True,False,196
4,9,2015-01-04,point,not,other,Evans,Weld,CO,40.383937,-104.692261,not_available,Michael Rodriguez,39.0,male,H,not_available,False,False,473
5,11,2015-01-04,attack,not,gun,Guthrie,Logan,OK,35.876991,-97.423454,not_available,Kenneth Joe Brown,18.0,male,W,not_available,False,False,101
6,13,2015-01-05,shoot,car,gun,Chandler,Maricopa,AZ,33.327887,-111.840959,not_available,Kenneth Arnold Buck,22.0,male,H,not_available,False,False,195
7,15,2015-01-06,point,not,gun,Assaria,Saline,KS,38.703755,-97.563904,not_available,Brock Nichols,35.0,male,W,not_available,False,False,490
8,16,2015-01-06,accident,not,unarmed,Burlington,Des Moines,IA,40.809250,-91.118875,not_available,Autumn Steele,34.0,female,W,not_available,False,True,287
9,17,2015-01-06,point,not,replica,Knoxville,Allegheny,PA,40.412936,-79.991408,not_available,Leslie Sapp III,47.0,male,B,not_available,False,False,1567
10,19,2015-01-06,attack,not,knife,Stockton,San Joaquin,CA,37.929798,-121.298909,not_available,Patrick Wetter,25.0,male,W,not_available,False,False,168
11,21,2015-01-07,point,not,gun,Freeport,Brazoria,TX,28.954889,-95.368801,not_available,Ron Sneed,31.0,male,B,not_available,False,False,246
12,22,2015-01-07,threat,not,knife,Columbus,Franklin,OH,39.998740,-82.885407,not_available,Hashim Hanif Ibn Abdul-Rasheed,41.0,male,B,not_available,True,False,90
13,25,2015-01-07,point,car,gun,Des Moines,Polk,IA,41.581526,-93.608994,not_available,Nicholas Ryan Brickman,30.0,male,W,not_available,False,False,115
14,27,2015-01-07,shoot,foot,gun,New Orleans,Orleans,LA,30.021509,-90.012433,not_available,Omarr Julian Maximillian Jackson,37.0,male,B,not_available,False,True,145
15,29,2015-01-08,undetermined,not,NaN,Huntley,Yellowstone,MT,45.859390,-108.315018,not_available,Loren Simpson,28.0,male,W,not_available,False,False,254
16,32,2015-01-08,attack,not,blunt_object,Salt Lake City,Salt Lake,UT,40.771699,-111.871568,not_available,James Dudley Barker,42.0,male,W,not_available,False,True,250
17,36,2015-01-08,attack,not,unarmed,Strong,Union,AR,33.111333,-92.358981,not_available,Artago Damon Howard,36.0,male,B,not_available,False,False,249
18,37,2015-01-08,shoot,not,gun,Syracuse,Davis,UT,41.083187,-112.083141,not_available,Thomas Hamby,49.0,male,W,not_available,False,True,491;492
19,38,2015-01-09,shoot,not,gun,England,Lonoke,AR,34.542149,-91.965797,not_available,Jimmy Foreman,71.0,male,W,not_available,False,False,289

In [ ]:
washington_post_df_1.shape

(8381, 19)

In [ ]:
washington_post_df_1.columns.tolist()

['id',
 'date',
 'threat_type',
 'flee_status',
 'armed_with',
 'city',
 'county',
 'state',
 'latitude',
 'longitude',
 'location_precision',
 'name',
 'age',
 'gender',
 'race',
 'race_source',
 'was_mental_illness_related',
 'body_camera',
 'agency_ids']

In [ ]:
washington_post_df_1.dtypes

id                              int64
date                           object
threat_type                    object
flee_status                    object
armed_with                     object
city                           object
county                         object
state                          object
latitude                      float64
longitude                     float64
location_precision             object
name                           object
age                           float64
gender                         object
race                           object
race_source                    object
was_mental_illness_related       bool
body_camera                      bool
agency_ids                     object
dtype: object

In [ ]:
washington_post_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8381 entries, 0 to 8380
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8381 non-null   int64
 1   date                        8381 non-null   object
 2   threat_type                 8368 non-null   object
 3   flee_status                 7307 non-null   object
 4   armed_with                  8171 non-null   object
 5   city                        8360 non-null   object
 6   county                      3527 non-null   object
 7   state                       8381 non-null   object
 8   latitude                    7475 non-null   float64
 9   longitude                   7475 non-null   float64
 10  location_precision          7475 non-null   object
 11  name                        7869 non-null   object
 12  age                         7830 non-null   float64
 13  gender                      8340 non-null   object
 14  race                        7181 non-null   object
 15  race_source                 7203 non-null   object
 16  was_mental_illness_related  8381 non-null   bool
 17  body_camera                 8381 non-null   bool
 18  agency_ids                  8381 non-null   object
dtypes: bool(2), float64(3), int64(1), object(13)
memory usage: 1.1+ MB

## Handling NA/Null and duplicated values
In this part, we'll cover up the entire missing values in our dataset by proposing multiple imputating values methods that we'll explain about it in more details.

In [ ]:
missing_rate = pd.DataFrame({
                             'count': washington_post_df_1.isna().sum(),
                             'rate': (washington_post_df_1.isna().sum()*100/washington_post_df_1.shape[0])
                             }).sort_values(by = 'rate', ascending = False)
missing_rate

                            count       rate
county                       4854  57.916716
race                         1200  14.318100
race_source                  1178  14.055602
flee_status                  1074  12.814700
longitude                     906  10.810166
latitude                      906  10.810166
location_precision            906  10.810166
age                           551   6.574394
name                          512   6.109056
armed_with                    210   2.505668
gender                         41   0.489202
city                           21   0.250567
threat_type                    13   0.155113
body_camera                     0   0.000000
was_mental_illness_related      0   0.000000
id                              0   0.000000
date                            0   0.000000
state                           0   0.000000
agency_ids                      0   0.000000

It seems that the country's field counts NA values roughly more than the half of all the values of the column.
Other columns are populating very few NA values. In any case, we'll properly fill this missing value by the right parameters or consistent values.

In [ ]:
washington_post_df_1[washington_post_df_1.duplicated()]

Empty DataFrame
Columns: [id, date, threat_type, flee_status, armed_with, city, county, state, latitude, longitude, location_precision, name, age, gender, race, race_source, was_mental_illness_related, body_camera, agency_ids]
Index: []

No duplicated values in there.

Setting all NA values of this categorical variables by an "undetermined" value.

In [ ]:
columns_to_fillna = ['armed_with', 'threat_type', 'flee_status', 'race', 'gender', 'race_source', 'location_precision']

for column in columns_to_fillna:
  washington_post_df_1[column] = washington_post_df_1[column].fillna('undetermined')

washington_post_df_1[columns_to_fillna]

,armed_with,threat_type,flee_status,race,gender,race_source,location_precision
0,gun,point,not,A,male,not_available,not_available
1,gun,point,not,W,male,not_available,not_available
2,unarmed,move,not,H,male,not_available,not_available
3,replica,point,not,W,male,not_available,not_available
4,other,point,not,H,male,not_available,not_available
...,...,...,...,...,...,...,...
8376,gun,shoot,not,W,male,public_record,intersection
8377,gun,shoot,car,W,male,public_record,undetermined
8378,gun,threat,foot,undetermined,male,undetermined,block
8379,knife,threat,undetermined,undetermined,male,undetermined,block
8380,gun,shoot,not,undetermined,male,undetermined,address

Replacing NA values by a parametrical statistic such as the mean to maintain up a balanced dataset in term of statistical analysis.

In [ ]:
washington_post_df_1.age = washington_post_df_1.age.fillna(washington_post_df_1.age.mean()).astype(int)

In [ ]:
washington_post_df_1['county'] = washington_post_df_1.apply(lambda row: f"{row['state']}'s unknown country" 
                                                        if pd.isna(row['county']) else row['county'], axis=1)
washington_post_df_1[['county', 'state']]

             county state
0             Mason    WA
1        Washington    OR
2          Sedgwick    KS
3     San Francisco    CA
4              Weld    CO
...             ...   ...
8376    Vanderburgh    IN
8377        Brevard    FL
8378           Cook    IL
8379     Bernalillo    NM
8380       Maricopa    AZ

[8381 rows x 2 columns]

The use case of this NA filling is all about filling NA values by the weighted average of the state variable *i.e* we'll fill the missing lat/long by the average lat/long per state.

In [ ]:
state_mean_lat = washington_post_df_1.groupby("state")["latitude"].agg('mean')
state_mean_long = washington_post_df_1.groupby("state")["longitude"].agg('mean')

washington_post_df_1["latitude"] = washington_post_df_1["latitude"].fillna(washington_post_df_1["state"].map(state_mean_lat))
washington_post_df_1["longitude"] = washington_post_df_1["longitude"].fillna(washington_post_df_1["state"].map(state_mean_long))

washington_post_df_1[['latitude', 'longitude', 'county', 'state']].sort_values(by='state')

       latitude   longitude                county state
5911  61.202287 -149.802649  AK's unknown country    AK
6633  61.599379 -149.511471  AK's unknown country    AK
1521  61.218414 -149.813983             Anchorage    AK
2822  61.218056 -149.900278             Anchorage    AK
3143  62.530955 -149.462231  AK's unknown country    AK
...         ...         ...                   ...   ...
526   41.117392 -104.825779               Laramie    WY
1455  42.850106 -106.305320               Natrona    WY
513   42.834371 -106.354420               Natrona    WY
7427  41.135709 -104.787486  WY's unknown country    WY
6916  42.634105 -106.095550  WY's unknown country    WY

[8381 rows x 4 columns]

## Data Wrangling
Last step is to restructurate all the columns in the right proper format, to leverage it and to clean it in order to guarantee its usability.
Same goes on for the other dataset that we'll preprocess so far.

In [ ]:
washington_post_df_1.rename(columns={ "county": "country" }, inplace=True)

Replacing and creating the values of the columns with a new labels with an even clearer values in order to gain a better visibility in our analysis.

In [ ]:
old_race_labels = washington_post_df_1.race.sort_values().unique().tolist()
new_race_labels = ['Asian/Pacific Islander', 'African-American/Black', 'Black/Hispanic', 
                   'Hispanic/Latino', 'Native American/Alaskan', 'Other', 'European-American/White', 'Race unspecified']

washington_post_df_1.race = washington_post_df_1.race.replace({ old_race: new_race for old_race, new_race 
                                                           in zip(old_race_labels, new_race_labels) })
washington_post_df_1.race

0        Asian/Pacific Islander
1       European-American/White
2               Hispanic/Latino
3       European-American/White
4               Hispanic/Latino
                 ...
8376    European-American/White
8377    European-American/White
8378           Race unspecified
8379           Race unspecified
8380           Race unspecified
Name: race, Length: 8381, dtype: object

In [ ]:
state_acronyms = washington_post_df_1.state.unique().tolist()
state_names = ['Washington', 'Oregon', 'Kansas', 'California', 'Colorado', 'Oklahoma', 'Arizona', 
                'Iowa', 'Pennsylvania', 'Texas', 'Ohio', 'Louisiana', 'Montana', 'Utah', 'Arkansas', 
                'Illinois', 'Nevada', 'New Mexico', 'Minnesota', 'Missouri', 'Virginia', 'New Jersey', 
                'Indiana', 'Kentucky', 'Massachusetts', 'New Hampshire', 'Florida', 'Idaho', 'Maryland', 
                'Nebraska', 'Michigan', 'Georgia', 'Tennessee', 'North Carolina', 'Alaska', 'New York', 
                'Maine', 'Alabama', 'Mississippi', 'Wisconsin', 'South Carolina', 'Delaware', 'District of Columbia', 
                'West Virginia', 'Hawaii', 'Wyoming', 'North Dakota', 'Connecticut', 'South Dakota', 'Vermont', 
                'Rhode Island']

state_mapping = dict(zip(state_acronyms, state_names))

washington_post_df_1['state_name'] = washington_post_df_1['state'].map(state_mapping)
washington_post_df_1[['state','state_name']]

     state  state_name
0       WA  Washington
1       OR      Oregon
2       KS      Kansas
3       CA  California
4       CO    Colorado
...    ...         ...
8376    IN     Indiana
8377    FL     Florida
8378    IL    Illinois
8379    NM  New Mexico
8380    AZ     Arizona

[8381 rows x 2 columns]

Formatting the variables with the right format and replacing inconsistent values by the right values format.

In [ ]:
washington_post_df_1.date = pd.to_datetime(washington_post_df_1.date, errors='coerce')

In [ ]:
washington_post_df_1.was_mental_illness_related = washington_post_df_1.was_mental_illness_related.map({ True: 'Yes', False: 'No' })

In [ ]:
washington_post_df_1.gender = washington_post_df_1.gender.str.capitalize()

In [ ]:
washington_post_df_1.city = washington_post_df_1.city.str.capitalize()

In [ ]:
washington_post_df_1.armed_with.unique().tolist()

['gun',
 'unarmed',
 'replica',
 'other',
 'knife',
 'undetermined',
 'blunt_object',
 'vehicle',
 'other;gun',
 'unknown',
 'blunt_object;blunt_object',
 'gun;knife',
 'knife;blunt_object',
 'vehicle;gun',
 'gun;vehicle',
 'replica;vehicle',
 'blunt_object;knife',
 'knife;vehicle',
 'vehicle;knife;other',
 'replica;knife',
 'other;blunt_object;knife']

In [ ]:
replacement_values = ["unarmed", "undetermined", "unknown"]

washington_post_df_1['alleged_weapon'] = washington_post_df_1['armed_with'].apply(lambda row: row 
                                                                                  if row not in replacement_values 
                                                                                  else "none")

washington_post_df_1['alleged_weapon'] = washington_post_df_1['alleged_weapon'].str.replace('blunt_object;blunt_object', 'Blunt object')
washington_post_df_1['alleged_weapon'] = washington_post_df_1['alleged_weapon'].str.replace('blunt_object', 'Blunt object')
washington_post_df_1['alleged_weapon'] = washington_post_df_1['alleged_weapon'].str.replace(';', ' and ')
washington_post_df_1['alleged_weapon'] = washington_post_df_1['alleged_weapon'].str.capitalize()

washington_post_df_1.loc[~washington_post_df_1['armed_with'].isin(replacement_values), 'armed_with'] = "armed"
washington_post_df_1.rename(columns={ 'armed_with': 'armed/unarmed' }, inplace=True)
washington_post_df_1['armed/unarmed'] = washington_post_df_1['armed/unarmed'].str.capitalize()

washington_post_df_1[['armed/unarmed', 'alleged_weapon']]

     armed/unarmed alleged_weapon
0            Armed            Gun
1            Armed            Gun
2          Unarmed           None
3            Armed        Replica
4            Armed          Other
...            ...            ...
8376         Armed            Gun
8377         Armed            Gun
8378         Armed            Gun
8379         Armed          Knife
8380         Armed            Gun

[8381 rows x 2 columns]

In [ ]:
washington_post_df_1.flee_status = washington_post_df_1.flee_status.str.replace('not', 'not fleeing')
washington_post_df_1.flee_status = washington_post_df_1.flee_status.str.replace('car', 'vehicle')
washington_post_df_1.flee_status = washington_post_df_1.flee_status.str.replace('other', 'undetermined')
washington_post_df_1.flee_status = washington_post_df_1.flee_status.str.capitalize()

washington_post_df_1.flee_status

0        Not fleeing
1        Not fleeing
2        Not fleeing
3        Not fleeing
4        Not fleeing
            ...
8376     Not fleeing
8377         Vehicle
8378            Foot
8379    Undetermined
8380     Not fleeing
Name: flee_status, Length: 8381, dtype: object

In [ ]:
washington_post_df_1.agency_ids = washington_post_df_1['agency_ids'].str.split(';').str[0].astype(int)

# Washington Post Database2

## Data Importation

In [ ]:
washington_post_df_2 = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/data/WashingtonPostDatabase2.csv', 
                                 sep = ',', encoding = "utf-8")

In [ ]:
washington_post_df_2.head(20)

,id,name,type,state,oricodes,total_shootings
0,3145,Abbeville County Sheriff's Office,sheriff,SC,SC00100,1
1,2576,Aberdeen Police Department,local_police,WA,WA01401,1
2,2114,Abilene Police Department,local_police,TX,TX22101,3
3,2088,Abington Township Police Department,local_police,PA,PA04601,1
4,3187,Acadia Parish Sheriff's Office,sheriff,LA,LA00100,1
5,3375,Acworth Police Department,local_police,GA,GA03305,1
6,1241,Ada County Sheriff's Office,sheriff,ID,ID00100,3
7,1615,Adair County Sheriff's Office,sheriff,OK,OK00100,1
8,1978,Adams County Sheriff's Department,sheriff,CO,CO00100,12
9,897,Adams County Sheriff's Department,sheriff,ID,ID00200,1
10,3706,Adams County Sheriff's Office,sheriff,IL,IL00100,1
11,3194,Adams County Sheriff's Office,sheriff,NE,NB00100,1
12,3561,Adams County Sheriff's Office,sheriff,WI,WI00100,1
13,2579,Ada Police Department,local_police,OK,OK06201,3
14,3107,Adel Police Department,local_police,GA,GA03701,1
15,914,Aiken County Sheriff's Office,sheriff,SC,SC00200,6
16,1203,Aitkin County Sheriff's Office,sheriff,MN,MN00100,1
17,815,Akron Police Department,local_police,OH,OH07701,8
18,589,Alabama Law Enforcement Agency,state_police,AL,NaN,2
19,860,Alabama State Police,state_police,AL,NaN,4

In [ ]:
print("==========================================================\n" \
      "The main informations about our dataset are gathered here:")

washington_post_df_2.info()

print("=========================================================="
      "\n\n======================================\n" \
      f"The different types of the fields are:\n{washington_post_df_2.dtypes}\n" \
      "======================================\n" \
      "\n\n====================================================================================\n" \
      f"The column names are: {washington_post_df_2.columns.tolist()}\n" \
      "====================================================================================")

==========================================================
The main informations about our dataset are gathered here:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3223 entries, 0 to 3222
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3223 non-null   int64
 1   name             3223 non-null   object
 2   type             3211 non-null   object
 3   state            3223 non-null   object
 4   oricodes         3128 non-null   object
 5   total_shootings  3223 non-null   int64
dtypes: int64(2), object(4)
memory usage: 151.2+ KB
==========================================================

======================================
The different types of the fields are:
id                  int64
name               object
type               object
state              object
oricodes           object
total_shootings     int64
dtype: object
======================================


====================================================================================
The column names are: ['id', 'name', 'type', 'state', 'oricodes', 'total_shootings']
====================================================================================

## Handling NA/Null and duplicated values

In [ ]:
missing_rate = pd.DataFrame({
                             'count': washington_post_df_2.isna().sum(),
                             'rate': (washington_post_df_2.isna().sum()*100/washington_post_df_2.shape[0])
                             }).sort_values(by = 'rate', ascending = False)
missing_rate

                 count      rate
oricodes            95  2.947564
type                12  0.372324
id                   0  0.000000
name                 0  0.000000
state                0  0.000000
total_shootings      0  0.000000

Very few NA values pinpointed at sight. This dataset is as clean as we could hope to obtain.

In [ ]:
washington_post_df_2[washington_post_df_2.duplicated()]

Empty DataFrame
Columns: [id, name, type, state, oricodes, total_shootings]
Index: []

No duplicated values detected too.

## Merging the two Washington Post datasets into one unique dataset

In [ ]:
washington_post_df_2.rename(columns={ "id": "agency_ids", "name": "agency_name" }, inplace=True)

In [ ]:
washington_post_df_merged = washington_post_df_1.merge(washington_post_df_2[['agency_ids', 'type', 'agency_name']],
                                                       how='inner', on='agency_ids')
washington_post_df_merged.sort_values(by='id')

,id,date,threat_type,flee_status,armed/unarmed,city,country,state,latitude,longitude,...,gender,race,race_source,was_mental_illness_related,body_camera,agency_ids,state_name,alleged_weapon,type,agency_name
0,3,2015-01-02,point,Not fleeing,Armed,Shelton,Mason,WA,47.246826,-123.121592,...,Male,Asian/Pacific Islander,not_available,Yes,False,73,Washington,Gun,sheriff,Mason County Sheriff's Office
3,4,2015-01-02,point,Not fleeing,Armed,Aloha,Washington,OR,45.487421,-122.891696,...,Male,European-American/White,not_available,No,False,70,Oregon,Gun,sheriff,Washington County Sheriff's Office
7,5,2015-01-03,move,Not fleeing,Unarmed,Wichita,Sedgwick,KS,37.694766,-97.280554,...,Male,Hispanic/Latino,not_available,No,False,238,Kansas,None,local_police,Wichita Police Department
21,8,2015-01-04,point,Not fleeing,Armed,San francisco,San Francisco,CA,37.762910,-122.422001,...,Male,European-American/White,not_available,Yes,False,196,California,Replica,local_police,San Francisco Police Department
40,9,2015-01-04,point,Not fleeing,Armed,Evans,Weld,CO,40.383937,-104.692261,...,Male,Hispanic/Latino,not_available,No,False,473,Colorado,Other,local_police,Evans Police Department
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8380,9112,2023-04-12,shoot,Not fleeing,Armed,German township,Vanderburgh,IN,38.051717,-87.671698,...,Male,European-American/White,public_record,No,False,26773,Indiana,Gun,sheriff,Vanderburgh County Sheriff's Office
1657,9113,2023-04-12,shoot,Vehicle,Armed,NaN,Brevard,FL,28.271869,-81.792297,...,Male,European-American/White,public_record,No,False,28,Florida,Gun,sheriff,Brevard County Sheriff's Office
2726,9126,2023-04-16,threat,Undetermined,Armed,Albuquerque,Bernalillo,NM,34.996412,-106.705122,...,Male,Race unspecified,undetermined,Yes,False,469,New Mexico,Knife,sheriff,Bernalillo County Sheriff's Department
522,9127,2023-04-16,shoot,Not fleeing,Armed,Scottsdale,Maricopa,AZ,33.471908,-111.903039,...,Male,Race unspecified,undetermined,No,False,510,Arizona,Gun,local_police,Scottsdale Police Department
2415,9128,2023-04-15,threat,Foot,Armed,Chicago,Cook,IL,41.872597,-87.721220,...,Male,Race unspecified,undetermined,No,True,265,Illinois,Gun,local_police,Chicago Police Department

# Fatal Encounters

## Data Importation

In [ ]:
fatal_encounters_df = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/data/FatalEncounters.csv', 
                                 sep = ',', encoding = "utf-8")

In [ ]:
fatal_encounters_df.head(20)

,Unique ID,Name,Age,Gender,Race,Race with imputations,Imputation probability,URL of image (PLS NO HOTLINKS),Date of injury resulting in death (month/day/year),Location of injury (address),...,URL Temp,Brief description,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Intended use of force (Developing),Supporting document link,"Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Unnamed: 32,Unnamed: 33,Unique ID formula,Unique identifier (redundant)
0,31495.0,Ashley McClendon,28.0,Female,African-American/Black,African-American/Black,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/31/2021,South Pearl Street and Tory Road,...,NaN,"Ashley McClendon's boyfriend, 33-year-old Marc...",Criminal,Pursuit,https://www.wsoctv.com/news/1-person-dead-afte...,No,NaN,NaN,NaN,31495.0
1,31496.0,Name withheld by police,NaN,Female,Race unspecified,NaN,NaN,NaN,12/31/2021,1500 21st Street,...,NaN,Police responded to a man causing a disturbanc...,Pending investigation,Deadly force,https://www.wtok.com/2022/01/01/officer-involv...,No,NaN,NaN,NaN,31496.0
2,31497.0,Name withheld by police,NaN,Male,Race unspecified,NaN,NaN,NaN,12/31/2021,1500 21st Street,...,NaN,Police responded to a man causing a disturbanc...,Pending investigation,Deadly force,https://www.wtok.com/2022/01/01/officer-involv...,No,NaN,NaN,NaN,31497.0
3,31491.0,Johnny C. Martin Jr.,36.0,Male,Race unspecified,NaN,NaN,NaN,12/30/2021,Martinez Lane,...,NaN,"Johnny C. Martin, Jr. arrived at a gas station...",Suicide,Suicide,https://gbi.georgia.gov/press-releases/2021-12...,No,NaN,NaN,NaN,31491.0
4,31492.0,Dennis McHugh,44.0,Male,European-American/White,NaN,NaN,NaN,12/30/2021,435 E 4th Street,...,NaN,Deputies responded to a domestic violence call...,Pending investigation,Deadly force,https://kesq.com/news/2021/12/31/officer-invol...,No,NaN,NaN,NaN,31492.0
5,31493.0,Ny'Darius McKinney,21.0,Male,Race unspecified,NaN,NaN,NaN,12/30/2021,State Rd S-29-296 & Bethel Rd,...,NaN,"About 5:35 p.m., Joseph Jemar Hinson was alleg...",Criminal,Pursuit,https://www.thelancasternews.com/content/21-ye...,No,NaN,NaN,NaN,31493.0
6,31494.0,Timothy Eulis Coleman,50.0,Male,European-American/White,European-American/White,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/30/2021,Sykes Drive,...,NaN,"Following an argument, witnesses reportedly sa...",Suicide,Suicide,https://wcyb.com/news/local/russell-co-murder-...,No,NaN,NaN,NaN,31494.0
7,31409.0,Name withheld by police,NaN,Male,Hispanic/Latino,Hispanic/Latino,Not imputed,NaN,12/29/2021,Carnegie Ave. and Jurupa Ave.,...,NaN,Police responded to a call for a maroon van pa...,Pending investigation,Pursuit,https://www.foxla.com/news/police-pursuit-ends...,No,NaN,NaN,NaN,31409.0
8,31410.0,Name withheld by police,NaN,Female,Hispanic/Latino,Hispanic/Latino,Not imputed,NaN,12/29/2021,Carnegie Ave. and Jurupa Ave.,...,NaN,Police responded to a call for a maroon van pa...,Pending investigation,Pursuit,https://www.foxla.com/news/police-pursuit-ends...,No,NaN,NaN,NaN,31410.0
9,31465.0,Christopher Former,49.0,NaN,African-American/Black,African-American/Black,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/29/2021,1521 Bonita Bluff Ct,...,NaN,Police received a 911 call around 7 p.m. from ...,Suicide,Suicide,https://www.wtsp.com/article/news/local/hillsb...,Yes,NaN,NaN,NaN,31465.0
10,31466.0,Osman Sesay,27.0,Male,African-American/Black,African-American/Black,Not imputed,NaN,12/29/2021,Dartmouth Ave and Wayne Ave,...,NaN,Police were called to a shooting that injured ...,Pending investigation,Deadly force,https://www.nbcwashington.com/news/local/montg...,No,NaN,NaN,NaN,31466.0
11,31490.0,"Thelonious ""RaRa"" McKnight",25.0,Male,African-American/Black,African-American/Black,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/29/2021,99 E Main St,...,NaN,Police were investigating an earlier incident ...,Pending investigation,Deadly force,https://www.nj.com/news/2022/01/family-ids-pat...,No,NaN,NaN,NaN,31490.0
12,31464.0,Dwayne McDonald,62.0,Male,African-American/Black,African-American/Black,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/28/2021,35 Owen St,...,NaN,Detroit Police were executing a search warrant...,Pending investigation,Deadly force,https://www.motorcity911.com/dispatch-audio-of...,No,NaN,NaN,NaN,31464.0
13,31408.0,Robert Michael George,53.0,Male,European-American/White,European-American/White,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/27/2021,100 E Main St,...,NaN,Robert George was reportedly being pulled over...,Pending investigation,Pursuit,https://www.wearecentralpa.com/news/local-news...,No,NaN,NaN,NaN,31408.0
14,31459.0,Christopher Thomas,22.0,Male,Race unspecified,NaN,NaN,NaN,12/27/2021,2000 block Cline St,...,NaN,Officers responded to a report of a person wit...,Pending investigation,Deadly force,https://kfdm.com/news/local/update-new-details...,No,NaN,NaN,NaN,31459.0
15,31460.0,Kevin Dubois,31.0,Male,Race unspecified,NaN,NaN,NaN,12/27/2021,628 Martin Luther King Jr Blvd,...,NaN,"Around 7 p.m., officers were called to an arme...",Pending investigation,Deadly force,https://www.wtoc.com/2021/12/28/gbi-investigat...,No,NaN,NaN,NaN,31460.0
16,31461.0,Lyndon James McLeod,47.0,Male,European-American/White,European-American/White,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/27/2021,S Vance St and W Alaska Dr,...,NaN,"Lyndon McLeod, 47, went on a shooting rampage ...",Pending investigation,Deadly force,https://www.thedenverchannel.com/news/local-ne...,No,NaN,NaN,NaN,31461.0
17,31462.0,Name withheld by police,NaN,Male,Race unspecified,NaN,NaN,NaN,12/27/2021,200 block Algona Blvd S,...,NaN,Algona police responded after receiving report...,Pending investigation,Deadly force,https://www.kiro7.com/news/local/man-shoots-co...,Yes,NaN,NaN,NaN,31462.0
18,31463.0,Roberto Cazares Salgado,39.0,Male,Race unspecified,NaN,NaN,NaN,12/27/2021,E Mission Ave and Gamble St,...,NaN,Police spotted a 2018 Chevy Silverado around 1...,Pending investigation,Deadly force,https://www.cbs8.com/article/news/crime/police...,No,NaN,NaN,NaN,31463.0
19,31407.0,"Stanley ""SJ"" Davis III",13.0,Male,African-American/Black,African-American/Black,Not imputed,https://fatalencounters.org/wp-content/uploads...,12/26/2021,800 block North Federal Highway,...,NaN,Police allegedly saw Stanley Davis Jr. driving...,Pending investigation,Pursuit,https://jalopnik.com/13-year-old-boy-on-dirt-b...,No,NaN,NaN,NaN,31407.0

In [ ]:
print("===============================================================================================\n" \
      "The main informations about our dataset are gathered here:")

fatal_encounters_df.info()

print("==============================================================================================="
      "\n\n===============================================================================================\n" \
      f"The different types of the fields are:\n{fatal_encounters_df.dtypes}\n" \
      "===============================================================================================\n" \
      "\n\n===============================================================================================\n" \
      f"The column names are:\n {fatal_encounters_df.columns}\n" \
      "===============================================================================================")

===============================================================================================
The main informations about our dataset are gathered here:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31498 entries, 0 to 31497
Data columns (total 36 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Unique ID                                                        31497 non-null  float64
 1   Name                                                             31498 non-null  object
 2   Age                                                              30277 non-null  object
 3   Gender                                                           31354 non-null  object
 4   Race                                                             31497 non-null  object
 5   Race with imputations                                            30630 non-null  object
 6   Imputation probability                                           30614 non-null  object
 7   URL of image (PLS NO HOTLINKS)                                   14725 non-null  object
 8    Date of injury resulting in death (month/day/year)              31498 non-null  object
 9   Location of injury (address)                                     30941 non-null  object
 10  Location of death (city)                                         31462 non-null  object
 11  State                                                            31497 non-null  object
 12  Location of death (zip code)                                     31316 non-null  float64
 13  Location of death (county)                                       31483 non-null  object
 14  Full Address                                                     31497 non-null  object
 15  Latitude                                                         31497 non-null  object
 16  Longitude                                                        31497 non-null  float64
 17  Agency or agencies involved                                      31420 non-null  object
 18  Highest level of force                                           31494 non-null  object
 19  UID Temporary                                                    5529 non-null   float64
 20  Name Temporary                                                   5529 non-null   object
 21  Armed/Unarmed                                                    17079 non-null  object
 22  Alleged weapon                                                   17077 non-null  object
 23  Aggressive physical movement                                     17080 non-null  object
 24  Fleeing/Not fleeing                                              17079 non-null  object
 25  Description Temp                                                 4067 non-null   object
 26  URL Temp                                                         3217 non-null   object
 27  Brief description                                                31496 non-null  object
 28  Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS           31495 non-null  object
 29  Intended use of force (Developing)                               31495 non-null  object
 30  Supporting document link                                         31496 non-null  object
 31  Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS  31436 non-null  object
 32  Unnamed: 32                                                      0 non-null      float64
 33  Unnamed: 33                                                      1 non-null      float64
 34  Unique ID formula                                                2 non-null      float64
 35  Unique identifier (redundant)                                    31497 non-null  float64
dtypes: float64(8), object(28)
memory usage: 8.7+ MB
===============================================================================================

===============================================================================================
The different types of the fields are:
Unique ID                                                          float64
Name                                                                object
Age                                                                 object
Gender                                                              object
Race                                                                object
                                                                    ...
Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS     object
Unnamed: 32                                                        float64
Unnamed: 33                                                        float64
Unique ID formula                                                  float64
Unique identifier (redundant)                                      float64
Length: 36, dtype: object
===============================================================================================


===============================================================================================
The column names are:
 Index(['Unique ID', 'Name', 'Age', 'Gender', 'Race', 'Race with imputations',
       'Imputation probability', 'URL of image (PLS NO HOTLINKS)',
       ' Date of injury resulting in death (month/day/year)',
       'Location of injury (address)', 'Location of death (city)', 'State',
       'Location of death (zip code)', 'Location of death (county)',
       'Full Address', 'Latitude', 'Longitude', 'Agency or agencies involved',
       'Highest level of force', 'UID Temporary', 'Name Temporary',
       'Armed/Unarmed', 'Alleged weapon', 'Aggressive physical movement',
       'Fleeing/Not fleeing', 'Description Temp', 'URL Temp',
       'Brief description',
       'Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS',
       'Intended use of force (Developing)', 'Supporting document link',
       'Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS',
       'Unnamed: 32', 'Unnamed: 33', 'Unique ID formula',
       'Unique identifier (redundant)'],
      dtype='object')
===============================================================================================

## Handling NA/Null and duplicated values

In [ ]:
missing_rate = pd.DataFrame({
                             'count': fatal_encounters_df.isna().sum(),
                             'rate': (fatal_encounters_df.isna().sum()*100/fatal_encounters_df.shape[0])
                             }).sort_values(by = 'rate', ascending = False)
missing_rate

                                                    count        rate
Unnamed: 32                                         31498  100.000000
Unnamed: 33                                         31497   99.996825
Unique ID formula                                   31496   99.993650
URL Temp                                            28281   89.786653
Description Temp                                    27431   87.088069
...                                                   ...         ...
State                                                   1    0.003175
Race                                                    1    0.003175
Unique identifier (redundant)                           1    0.003175
Name                                                    0    0.000000
 Date of injury resulting in death (month/day/y...      0    0.000000

[36 rows x 2 columns]

Too much NA for almost one quarter of the dataset. This will just hinder the analysis for such empty fields.
On the other hand, we observe several duplicated columns with the same values or residual informations that we might extract from. We have to drop these columns as well.

In [ ]:
empty_columns = missing_rate[missing_rate['rate'] > 80]
fatal_encounters_df = fatal_encounters_df.drop(empty_columns.index, axis = 1)

duplicated_columns = ['Race with imputations', 'Full Address', 'Unique identifier (redundant)', 'Supporting document link',
                      'Aggressive physical movement', 'URL of image (PLS NO HOTLINKS)']
fatal_encounters_df = fatal_encounters_df.drop(columns=duplicated_columns)

In [ ]:
fatal_encounters_df.columns.tolist()

['Unique ID',
 'Name',
 'Age',
 'Gender',
 'Race',
 'Imputation probability',
 ' Date of injury resulting in death (month/day/year)',
 'Location of injury (address)',
 'Location of death (city)',
 'State',
 'Location of death (zip code)',
 'Location of death (county)',
 'Latitude',
 'Longitude',
 'Agency or agencies involved',
 'Highest level of force',
 'Armed/Unarmed',
 'Alleged weapon',
 'Fleeing/Not fleeing',
 'Brief description',
 'Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS',
 'Intended use of force (Developing)',
 'Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS']

Avoiding NA values for the unique ID is a big priority in order to not alterate the data uniqueness. Also, in the same time, we'll parse the ID as an integer.

In [ ]:
fatal_encounters_df = fatal_encounters_df.dropna(subset=['Unique ID'])

NA or null values of the state doesn't provide any functional information. There's very few of it so we just may suppress it.

In [ ]:
fatal_encounters_df.State = fatal_encounters_df.State.dropna()

In [ ]:
fatal_encounters_df['Imputation probability'] = fatal_encounters_df['Imputation probability'].fillna('Not imputed')

In [ ]:
columns_to_fillna = ['Location of injury (address)', 'Agency or agencies involved', 'Highest level of force', 'Intended use of force (Developing)', 
                     'Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS', 'Location of death (city)', 'Location of death (county)',
                     'Race', 'Imputation probability', 'Armed/Unarmed', 'Alleged weapon', 'Fleeing/Not fleeing']

for column in columns_to_fillna:
  fatal_encounters_df[column] = fatal_encounters_df[column].fillna('Undetermined')

fatal_encounters_df[columns_to_fillna]

,Location of injury (address),Agency or agencies involved,Highest level of force,Intended use of force (Developing),"Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Location of death (city),Location of death (county),Race,Imputation probability,Armed/Unarmed,Alleged weapon,Fleeing/Not fleeing
0,South Pearl Street and Tory Road,Pageland Police Department,Vehicle,Pursuit,No,Pageland,Chesterfield,African-American/Black,Not imputed,Undetermined,Undetermined,Undetermined
1,1500 21st Street,Meridian Police Department,Gunshot,Deadly force,No,Meridian,Lauderdale,Race unspecified,Not imputed,Undetermined,Undetermined,Undetermined
2,1500 21st Street,Meridian Police Department,Gunshot,Deadly force,No,Meridian,Lauderdale,Race unspecified,Not imputed,Undetermined,Undetermined,Undetermined
3,Martinez Lane,Coffee County Sheriff's Office,Gunshot,Suicide,No,Nicholls,Coffee,Race unspecified,Not imputed,Undetermined,Undetermined,Undetermined
4,435 E 4th Street,"Riverside County Sheriff's Department, Beaumon...",Gunshot,Deadly force,No,Beaumont,Riverside,European-American/White,Not imputed,Undetermined,Undetermined,Undetermined
...,...,...,...,...,...,...,...,...,...,...,...,...
31492,I-16 & Chatham Parkway,"Bloomingdale Police Department, Garden City Po...",Vehicle,Pursuit,No,Savannah,Chatham,Race unspecified,Not imputed,Undetermined,Undetermined,Undetermined
31493,27898-27804 US-101,Mendocino County Sheriff's Office,Vehicle,Pursuit,No,Willits,Mendocino,European-American/White,Not imputed,Undetermined,Undetermined,Undetermined
31494,Davison Freeway,Undetermined,Vehicle,Pursuit,No,Detroit,Wayne,African-American/Black,Not imputed,Undetermined,Undetermined,Undetermined
31495,Davison Freeway,Undetermined,Vehicle,Pursuit,No,Detroit,Wayne,African-American/Black,Not imputed,Undetermined,Undetermined,Undetermined
31496,600 W Cherry Ln,Eddy County Sheriff's Office,Vehicle,Pursuit,No,Carlsbad,Eddy,Hispanic/Latino,Not imputed,Undetermined,Undetermined,Undetermined

In [ ]:
fatal_encounters_df['Location of death (county)'] = fatal_encounters_df.apply(lambda row: f"{row['State']}'s unknown country" 
                                                        if pd.isna(row['Location of death (county)']) 
                                                        else row['Location of death (county)'], axis=1)
fatal_encounters_df[['Location of death (county)', 'State']]

      Location of death (county) State
0                   Chesterfield    SC
1                     Lauderdale    MS
2                     Lauderdale    MS
3                         Coffee    GA
4                      Riverside    CA
...                          ...   ...
31492                    Chatham    GA
31493                  Mendocino    CA
31494                      Wayne    MI
31495                      Wayne    MI
31496                       Eddy    NM

[31497 rows x 2 columns]

In [ ]:
fatal_encounters_df['Age'] = pd.to_numeric(fatal_encounters_df['Age'], errors='coerce')
fatal_encounters_df['Age'] = fatal_encounters_df['Age'].fillna(fatal_encounters_df['Age'].mean()).astype(int)

In [ ]:
fatal_encounters_df[fatal_encounters_df.duplicated()]

Empty DataFrame
Columns: [Unique ID, Name, Age, Gender, Race, Imputation probability,  Date of injury resulting in death (month/day/year), Location of injury (address), Location of death (city), State, Location of death (zip code), Location of death (county), Latitude, Longitude, Agency or agencies involved, Highest level of force, Armed/Unarmed, Alleged weapon, Fleeing/Not fleeing, Brief description, Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS, Intended use of force (Developing), Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS]
Index: []

[0 rows x 23 columns]

No duplicated values detected here.

## Data Wrangling
Preparing the data by adjusting the name of the columns, the values capitalization and ometting the potential outliers that are responsible of the loss of the data quality. This step is pretty similar to the data wrangling part of the previous dataset with the simple difference that we'll prepare the data in order to merge it with the previous dataset in its final shape.

Formatting the columns in the right data kind.

In [ ]:
fatal_encounters_df['Unique ID'] = fatal_encounters_df['Unique ID'].astype(int)

In [ ]:
fatal_encounters_df[' Date of injury resulting in death (month/day/year)'] = pd.to_datetime(fatal_encounters_df[' Date of injury resulting in death (month/day/year)'], errors='coerce')

In [ ]:
state_acronyms = fatal_encounters_df['State'].sort_values().unique().tolist()

state_names = ['Alaska', 'Alabama', 'Arkansas', 'Arizona', 'California', 'Colorado',
               'Connecticut', 'District of Columbia', 'Delaware', 'Florida', 'Georgia',
               'Hawaii', 'Iowa', 'Idaho', 'Illinois', 'Indiana', 'Kansas', 'Kentucky',
               'Louisiana', 'Massachusetts', 'Maryland', 'Maine', 'Michigan', 'Minnesota',
               'Missouri', 'Mississippi', 'Montana', 'North Carolina', 'North Dakota',
               'Nebraska', 'New Hampshire', 'New Jersey', 'New Mexico', 'Nevada', 'New York',
               'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
               'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Virginia', 'Vermont', 'Washington',
               'Wisconsin', 'West Virginia', 'Wyoming']
               
state_mapping = dict(zip(state_acronyms, state_names))

fatal_encounters_df['State_name'] = fatal_encounters_df['State'].map(state_mapping)
fatal_encounters_df[['State','State_name']]

      State      State_name
0        SC  South Carolina
1        MS     Mississippi
2        MS     Mississippi
3        GA         Georgia
4        CA      California
...     ...             ...
31492    GA         Georgia
31493    CA      California
31494    MI        Michigan
31495    MI        Michigan
31496    NM      New Mexico

[31497 rows x 2 columns]

In [ ]:
fatal_encounters_df['Imputation probability'] = fatal_encounters_df['Imputation probability'].replace(
                                                                                                      {'Not imputed': '0',
                                                                                                      'race not determined': '0',
                                                                                                      'Race not determined': '0'
                                                                                                      }).astype(float)

fatal_encounters_df[['Race','Imputation probability']]

                          Race  Imputation probability
0       African-American/Black                     0.0
1             Race unspecified                     0.0
2             Race unspecified                     0.0
3             Race unspecified                     0.0
4      European-American/White                     0.0
...                        ...                     ...
31492         Race unspecified                     0.0
31493  European-American/White                     0.0
31494   African-American/Black                     0.0
31495   African-American/Black                     0.0
31496          Hispanic/Latino                     0.0

[31497 rows x 2 columns]

Eliminating some big outlier that seemingly perturbates the analysis. Those outliers present impossible values.

In [ ]:
condition_to_drop = fatal_encounters_df['Race'] == 'N'
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)

Eliminating another outliers that give no more information to our analysis.

In [ ]:
condition_to_drop = fatal_encounters_df['Name'] == 'Name withheld by police'
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)

In [ ]:
condition_to_drop = fatal_encounters_df['Imputation probability'] < .60
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)

fatal_encounters_df[['Race', 'Imputation probability']].sort_values(by='Imputation probability')

                   Race  Imputation probability
28181  Race unspecified                0.600104
27548  Race unspecified                0.600394
18267  Race unspecified                0.600763
27031  Race unspecified                0.600992
9059   Race unspecified                0.600996
...                 ...                     ...
11243  Race unspecified                1.000000
27040  Race unspecified                1.000000
11242  Race unspecified                1.000000
30000  Race unspecified                1.000000
26588  Race unspecified                1.000000

[5941 rows x 2 columns]

In [ ]:
fatal_encounters_df = fatal_encounters_df.drop('Imputation probability', axis=1)

In [ ]:
condition_to_drop = fatal_encounters_df['Latitude'] == '42.167834, '
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)
fatal_encounters_df['Latitude'] = fatal_encounters_df['Latitude'].astype(float)
fatal_encounters_df['Latitude']

1683     36.617430
1993     41.411388
2008     36.079998
2021     46.101276
2028     33.538563
           ...
31482    35.020543
31484    39.894411
31485    39.293989
31486    39.293989
31488    33.645164
Name: Latitude, Length: 5941, dtype: float64

In [ ]:
condition_to_drop = fatal_encounters_df['Age'] <= 2
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)
fatal_encounters_df[['Name', 'Age']].sort_values(by='Age')

                             Name  Age
26941                Trent Tucker    3
7941                Justin Quiroz    3
24707              Kenneth Thomas    4
26206                 Kylin Woods    4
27246  LaKenya Latrice Winchester    4
...                           ...  ...
30023             Edward Stockamp   89
14116              Frank J. Story   90
27730        Robert V. Gottschall   90
18934      Thomas Everett Hancock   91
18155             William Wolford   92

[5929 rows x 2 columns]

Filtering all the outliers that doesn't match with the allowed values of any columns.

In [ ]:
condition_to_drop = ~fatal_encounters_df.Gender.isin(['Male', 'Female', 'Transgender'])
fatal_encounters_df.drop(fatal_encounters_df.loc[condition_to_drop].index, inplace=True)

fatal_encounters_df[['Name', 'Gender']]

                     Name  Gender
1683        Martin Chavez    Male
1993    Jeffrey L. Marvin    Male
2008   David Jacob Rigsby    Male
2021         Alaina Burns  Female
2028      Jordan Crawford    Male
...                   ...     ...
31482        Tommy Wilson    Male
31484    James Martin Loy    Male
31485        Doris Murphy  Female
31486      Carolyn Oakley  Female
31488       Lester Miller    Male

[5928 rows x 2 columns]

Leveraging data quality in this three columns in order to take the same possible values as the columns of the previous dataset and extracting all the kinds of weapons.

In [ ]:
replacement_values_1 = { 
                        'Arrmed': 'Armed',
                        'Uncertain': 'Undetermined',
                        'Gunshot': 'Armed'
                       }
replacement_values_2 = { 
                        'Gunshot': 'Armed',
                        'Uncertain': 'Undetermined'
                       }                       

fatal_encounters_df['Armed/Unarmed'] = fatal_encounters_df['Armed/Unarmed'].replace(replacement_values_1)
fatal_encounters_df['Alleged weapon'] = fatal_encounters_df['Alleged weapon'].replace(replacement_values_2)

def extract_ruling_part(value):
    parts = value.split('/')
    if 'Blunt object' in value:
        return 'Blunt object'
    elif len(parts) > 1:
        return parts[1]
    else:
        words = ['gun', 'knife', 'vehicle']
        lowercase_value = value.lower()
        for word in words:
            pattern = rf'\b.*{word}.*\b'
            if pd.Series(lowercase_value).str.contains(pattern, case=False, regex=True).any():
                return word.capitalize()
        return value

fatal_encounters_df['Alleged weapon'] = fatal_encounters_df['Alleged weapon'].apply(extract_ruling_part)
fatal_encounters_df[['Armed/Unarmed', 'Alleged weapon']]

      Armed/Unarmed Alleged weapon
1683   Undetermined   Undetermined
1993   Undetermined   Undetermined
2008          Armed            Gun
2021          Armed            Gun
2028        Unarmed           None
...             ...            ...
31482  Undetermined   Undetermined
31484  Undetermined   Undetermined
31485  Undetermined   Undetermined
31486  Undetermined   Undetermined
31488  Undetermined   Undetermined

[5928 rows x 2 columns]

In [ ]:
fatal_encounters_df['Fleeing/Not fleeing'] = fatal_encounters_df['Fleeing/Not fleeing'].replace({ 'Uncertain': 'Undetermined' })
fatal_encounters_df['Fleeing/Not fleeing'] = fatal_encounters_df['Fleeing/Not fleeing'].str.extract(r'^([^/]+)')

fatal_encounters_df[['Name', 'Fleeing/Not fleeing']]

                     Name Fleeing/Not fleeing
1683        Martin Chavez        Undetermined
1993    Jeffrey L. Marvin        Undetermined
2008   David Jacob Rigsby             Fleeing
2021         Alaina Burns         Not fleeing
2028      Jordan Crawford         Not fleeing
...                   ...                 ...
31482        Tommy Wilson        Undetermined
31484    James Martin Loy        Undetermined
31485        Doris Murphy        Undetermined
31486      Carolyn Oakley        Undetermined
31488       Lester Miller        Undetermined

[5928 rows x 2 columns]

## Merging the three datasets on civilian deaths into a single dataset

Truncating and modifying the IDs of the dataset is done to prevent any issues related to data uniqueness when merging all the datasets on civilian deaths.

In [ ]:
offset_id = washington_post_df_merged.id.max()
num_rows = fatal_encounters_df.shape[0]

fatal_encounters_df.id = range(offset_id + 1, offset_id + num_rows + 1)
fatal_encounters_df.tail()

,Unique ID,Name,Age,Gender,Race,Date of injury resulting in death (month/day/year),Location of injury (address),Location of death (city),State,Location of death (zip code),...,Agency or agencies involved,Highest level of force,Armed/Unarmed,Alleged weapon,Fleeing/Not fleeing,Brief description,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Intended use of force (Developing),"Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS",State_name
31482,22611,Tommy Wilson,29,Male,Race unspecified,2000-01-05,Lamar Ave & E Shelby Dr,Memphis,TN,38118.0,...,Memphis Police Department,Vehicle,Undetermined,Undetermined,Undetermined,"Demetric McClendon, 25, and his passenger Tomm...",Unreported,Vehicle,No,Tennessee
31484,19512,James Martin Loy,55,Male,Race unspecified,2000-01-03,107 South Grant St.,Uniontown,PA,15401.0,...,Uniontown Police Department,Gunshot,Undetermined,Undetermined,Undetermined,Loy and another motorist were apparently invol...,Suicide,Suicide,No,Pennsylvania
31485,25752,Doris Murphy,42,Female,Race unspecified,2000-01-03,391 Park Ave,Baltimore,MD,21201.0,...,Baltimore Police Department,Vehicle,Undetermined,Undetermined,Undetermined,Police were chasing a white Ford Expedition ab...,Criminal,Pursuit,No,Maryland
31486,25753,Carolyn Oakley,41,Female,Race unspecified,2000-01-03,391 Park Ave,Baltimore,MD,21201.0,...,Baltimore Police Department,Vehicle,Undetermined,Undetermined,Undetermined,Police were chasing a white Ford Expedition ab...,Criminal,Pursuit,No,Maryland
31488,2,Lester Miller,53,Male,Race unspecified,2000-01-02,4850 Flakes Mill Road,Ellenwood,GA,30294.0,...,DeKalb County Sheriff's Office,Gunshot,Undetermined,Undetermined,Undetermined,"Darren Mayfield, a DeKalb County sheriff's dep...",Criminal,Deadly force,No,Georgia

Selection of the effective variables for the merge and imputating the NA values of some relevant variables.

In [ ]:
columns_to_exclude_1 = ['Brief description', 'race_source', 'Location of injury (address)', 'Location of death (zip code)',
                        'Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS']
columns_to_exclude_2 = ['location_precision', 'race_source', 'body_camera', 'agency_ids', 'type', 'threat_type']

filtered_columns_1 = fatal_encounters_df.columns[~fatal_encounters_df.columns.isin(columns_to_exclude_1)]
filtered_columns_2 = washington_post_df_merged.columns[~washington_post_df_merged.columns.isin(columns_to_exclude_2)]

washington_post_df_merged = washington_post_df_merged[filtered_columns_2]
fatal_encounters_df = fatal_encounters_df[filtered_columns_1]

Updating the column names with the same names as in the previous dataset in order to filter them in the merging process.

In [ ]:
old_columns = list(map(lambda column: column.lower(), fatal_encounters_df.columns))
partial_new_columns = washington_post_df_merged.columns.tolist()
columns_to_rename = [old_column for old_column in old_columns if old_column not in partial_new_columns]
new_columns = ['id', 'date', 'city', 'country', 'agency_name', 'cause','alleged_weapon', 'flee_status',
               'intended_use_of_force', 'was_mental_illness_related']

renamed_columns = dict(zip(columns_to_rename, new_columns))
fatal_encounters_df.columns = [renamed_columns[col] if col in columns_to_rename 
                               else col for col in old_columns]

Concatenating the two dataframe into a single dataframe.

In [ ]:
civilian_deaths_df = pd.concat([washington_post_df_merged, fatal_encounters_df]).reset_index(drop=True)
civilian_deaths_df[['intended_use_of_force', 'cause']] = civilian_deaths_df[['intended_use_of_force', 'cause']].fillna('Undetermined')
civilian_deaths_df

,id,date,flee_status,armed/unarmed,city,country,state,latitude,longitude,name,age,gender,race,was_mental_illness_related,state_name,alleged_weapon,agency_name,cause,intended_use_of_force
0,3,2015-01-02,Not fleeing,Armed,Shelton,Mason,WA,47.246826,-123.121592,Tim Elliot,53,Male,Asian/Pacific Islander,Yes,Washington,Gun,Mason County Sheriff's Office,Undetermined,Undetermined
1,758,2015-08-21,Not fleeing,Armed,Grapeview,Mason,WA,47.286345,-122.924468,Timmy Walling,57,Male,European-American/White,Yes,Washington,Gun,Mason County Sheriff's Office,Undetermined,Undetermined
2,5685,2020-03-24,Vehicle,Armed,Shelton,WA's unknown country,WA,47.333423,-122.958007,Kathryn R. Hale,32,Female,European-American/White,No,Washington,Vehicle,Mason County Sheriff's Office,Undetermined,Undetermined
3,4,2015-01-02,Not fleeing,Armed,Aloha,Washington,OR,45.487421,-122.891696,Lewis Lee Lembke,47,Male,European-American/White,No,Oregon,Gun,Washington County Sheriff's Office,Undetermined,Undetermined
4,890,2015-10-02,Not fleeing,Armed,Aloha,Washington,OR,45.492685,-122.861795,Phyllis Ilene Jepsen,55,Female,European-American/White,Yes,Oregon,Knife,Washington County Sheriff's Office,Undetermined,Undetermined
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14304,22611,2000-01-05,Undetermined,Undetermined,Memphis,Shelby,TN,35.020543,-89.898050,Tommy Wilson,29,Male,Race unspecified,No,Tennessee,Undetermined,Memphis Police Department,Vehicle,Vehicle
14305,19512,2000-01-03,Undetermined,Undetermined,Uniontown,Fayette,PA,39.894411,-79.718611,James Martin Loy,55,Male,Race unspecified,No,Pennsylvania,Undetermined,Uniontown Police Department,Gunshot,Suicide
14306,25752,2000-01-03,Undetermined,Undetermined,Baltimore,Baltimore City,MD,39.293989,-76.618203,Doris Murphy,42,Female,Race unspecified,No,Maryland,Undetermined,Baltimore Police Department,Vehicle,Pursuit
14307,25753,2000-01-03,Undetermined,Undetermined,Baltimore,Baltimore City,MD,39.293989,-76.618203,Carolyn Oakley,41,Female,Race unspecified,No,Maryland,Undetermined,Baltimore Police Department,Vehicle,Pursuit
14308,2,2000-01-02,Undetermined,Undetermined,Ellenwood,DeKalb,GA,33.645164,-84.229413,Lester Miller,53,Male,Race unspecified,No,Georgia,Undetermined,DeKalb County Sheriff's Office,Gunshot,Deadly force

# Police Deaths Dataset

## Data Importation

In [ ]:
police_deaths_df = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/data/PoliceDeaths.csv', sep = ',', encoding = "utf-8")

In [ ]:
police_deaths_df.head(20)

,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire,Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire,Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire,Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire,Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire,Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC
5,High Sheriff John Caldwell Cook,"Mecklenburg County Sheriff's Office, NC","EOW: Tuesday, October 16, 1804",Cause of Death: Gunfire,Gunfire,1804-10-16,1804,False,Mecklenburg County Sheriff's Office,NC
6,Watchman Christian Luswanger,"New York City Watch, NY","EOW: Thursday, December 25, 1806",Cause of Death: Stabbed,Stabbed,1806-12-25,1806,False,New York City Watch,NY
7,Deputy Sheriff John A. Gooch,"Livingston County Sheriff's Department, KY","EOW: Saturday, March 7, 1807",Cause of Death: Gunfire,Gunfire,1807-03-07,1807,False,Livingston County Sheriff's Department,KY
8,Deputy Sheriff Ebenezer Parker,"Cumberland County Sheriff's Office, ME","EOW: Monday, January 18, 1808",Cause of Death: Assault,Assault,1808-01-18,1808,False,Cumberland County Sheriff's Office,ME
9,Night Watchman George Workner,"Baltimore City Police Department, MD","EOW: Tuesday, March 15, 1808",Cause of Death: Stabbed,Stabbed,1808-03-15,1808,False,Baltimore City Police Department,MD
10,Boatman Asa Marsh,United States Department of the Treasury - Cus...,"EOW: Wednesday, August 3, 1808",Cause of Death: Gunfire,Gunfire,1808-08-03,1808,False,United States Department of the Treasury - Cus...,US
11,Boatman Ellis Drake,United States Department of the Treasury - Cus...,"EOW: Wednesday, August 3, 1808",Cause of Death: Gunfire,Gunfire,1808-08-03,1808,False,United States Department of the Treasury - Cus...,US
12,Custom House Officer Daniel Miller,United States Department of the Treasury - Cus...,"EOW: Monday, January 1, 1810",Cause of Death: Gunfire,Gunfire,1810-01-01,1810,False,United States Department of the Treasury - Cus...,US
13,Deputy Sheriff John Tileston Downes,"Hancock County Sheriff's Department, ME","EOW: Monday, January 28, 1811",Cause of Death: Gunfire,Gunfire,1811-01-28,1811,False,Hancock County Sheriff's Department,ME
14,Customs Inspector John Stout,United States Department of the Treasury - Cus...,"EOW: Friday, January 21, 1814",Cause of Death: Gunfire,Gunfire,1814-01-21,1814,False,United States Department of the Treasury - Cus...,US
15,Sheriff John Coor Pender,"Wayne County Sheriff's Office, NC","EOW: Monday, January 1, 1816",Cause of Death: Gunfire,Gunfire,1816-01-01,1816,False,Wayne County Sheriff's Office,NC
16,Sheriff Caleb Hewitt,"Davidson County Sheriff's Office, TN","EOW: Monday, September 9, 1816",Cause of Death: Assault,Assault,1816-09-09,1816,False,Davidson County Sheriff's Office,TN
17,Deputy Sheriff William Huddleston,"Schoharie County Sheriff's Department, NY","EOW: Friday, October 9, 1818",Cause of Death: Assault,Assault,1818-10-09,1818,False,Schoharie County Sheriff's Department,NY
18,"Constable Jacob Dearduff, Sr.","Jamestown Police Department, OH","EOW: Saturday, February 22, 1823",Cause of Death: Stabbed,Stabbed,1823-02-22,1823,False,Jamestown Police Department,OH
19,Constable Elijah Chenault,"Alexandria Police Department, VA","EOW: Monday, August 4, 1823",Cause of Death: Assault,Assault,1823-08-04,1823,False,Alexandria Police Department,VA

In [ ]:
print("===============================================================================================\n" \
      "The main informations about our dataset are gathered here:")

police_deaths_df.info()

print("==============================================================================================="
      "\n\n===============================================================================================\n" \
      f"The different types of the fields are:\n{police_deaths_df.dtypes}\n" \
      "===============================================================================================\n" \
      "\n\n===============================================================================================\n" \
      f"The column names are:\n {police_deaths_df.columns}\n" \
      "===============================================================================================")

===============================================================================================
The main informations about our dataset are gathered here:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   person       22800 non-null  object
 1   dept         22800 non-null  object
 2   eow          22800 non-null  object
 3   cause        22800 non-null  object
 4   cause_short  22800 non-null  object
 5   date         22800 non-null  object
 6   year         22800 non-null  int64
 7   canine       22800 non-null  bool
 8   dept_name    22800 non-null  object
 9   state        22800 non-null  object
dtypes: bool(1), int64(1), object(8)
memory usage: 1.6+ MB
===============================================================================================

===============================================================================================
The different types of the fields are:
person         object
dept           object
eow            object
cause          object
cause_short    object
date           object
year            int64
canine           bool
dept_name      object
state          object
dtype: object
===============================================================================================


===============================================================================================
The column names are:
 Index(['person', 'dept', 'eow', 'cause', 'cause_short', 'date', 'year',
       'canine', 'dept_name', 'state'],
      dtype='object')
===============================================================================================

## Handling NA/Null and duplicated values

In [ ]:
missing_rate = pd.DataFrame({
                             'count': police_deaths_df.isna().sum(),
                             'rate': (police_deaths_df.isna().sum()*100/police_deaths_df.shape[0])
                             }).sort_values(by = 'rate', ascending = False)
missing_rate

             count  rate
person           0   0.0
dept             0   0.0
eow              0   0.0
cause            0   0.0
cause_short      0   0.0
date             0   0.0
year             0   0.0
canine           0   0.0
dept_name        0   0.0
state            0   0.0

No Na/N values detected here.

In [ ]:
duplicated_columns = ['dept', 'eow', 'cause', 'year']
police_deaths_df = police_deaths_df.drop(columns=duplicated_columns)

We drop the columns with redundant values

In [ ]:
police_deaths_df[police_deaths_df.duplicated()]

Empty DataFrame
Columns: [person, cause_short, date, canine, dept_name, state]
Index: []

No duplicated values detected here.

In [ ]:
police_deaths_df.date = pd.to_datetime(police_deaths_df.date, errors='coerce')

## Data Wrangling

Formatting the columns in the right data kind.

In [ ]:
police_deaths_df.state = police_deaths_df.state.str.strip()

In [ ]:
state_mapping = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

police_deaths_df['state_name'] = police_deaths_df['state'].map(state_mapping)
police_deaths_df[['state','state_name']]

      state      state_name
0        NY        New York
1        NY        New York
2        NY        New York
3        US             NaN
4        SC  South Carolina
...     ...             ...
22795    TX           Texas
22796    US             NaN
22797    IN         Indiana
22798    CA      California
22799    ID           Idaho

[22800 rows x 2 columns]

Dropping the outliers in the State variable

In [ ]:
state_US_freq = (police_deaths_df.state.str.count('US').sum()/police_deaths_df.shape[0])*100
state_US_freq

5.37280701754386

In [ ]:
police_deaths_df.drop(police_deaths_df.loc[police_deaths_df.state == 'US'].index, inplace=True)
police_deaths_df.state.str.count('US').sum()

0

Dropping the whole "canine" column because it's not providing a valuable information in our analysis

In [ ]:
police_deaths_df.drop(police_deaths_df.loc[police_deaths_df.canine == True].index, inplace=True)
police_deaths_df.drop(columns='canine', inplace=True)

Updating the column names for a better lisibility.

In [ ]:
renamed_columns = { 'person': 'name', 'cause_short': 'death_cause', 'dept_name': 'agency_name' }
police_deaths_df = police_deaths_df.rename(columns=renamed_columns)

police_deaths_df.head(20)

,name,death_cause,date,agency_name,state,state_name
0,Constable Darius Quimby,Gunfire,1791-01-03,Albany County Constable's Office,NY,New York
1,Sheriff Cornelius Hogeboom,Gunfire,1791-10-22,Columbia County Sheriff's Office,NY,New York
2,Deputy Sheriff Isaac Smith,Gunfire,1792-05-17,Westchester County Sheriff's Department,NY,New York
4,Sheriff Robert Maxwell,Gunfire,1797-11-12,Greenville County Sheriff's Office,SC,South Carolina
5,High Sheriff John Caldwell Cook,Gunfire,1804-10-16,Mecklenburg County Sheriff's Office,NC,North Carolina
6,Watchman Christian Luswanger,Stabbed,1806-12-25,New York City Watch,NY,New York
7,Deputy Sheriff John A. Gooch,Gunfire,1807-03-07,Livingston County Sheriff's Department,KY,Kentucky
8,Deputy Sheriff Ebenezer Parker,Assault,1808-01-18,Cumberland County Sheriff's Office,ME,Maine
9,Night Watchman George Workner,Stabbed,1808-03-15,Baltimore City Police Department,MD,Maryland
13,Deputy Sheriff John Tileston Downes,Gunfire,1811-01-28,Hancock County Sheriff's Department,ME,Maine
15,Sheriff John Coor Pender,Gunfire,1816-01-01,Wayne County Sheriff's Office,NC,North Carolina
16,Sheriff Caleb Hewitt,Assault,1816-09-09,Davidson County Sheriff's Office,TN,Tennessee
17,Deputy Sheriff William Huddleston,Assault,1818-10-09,Schoharie County Sheriff's Department,NY,New York
18,"Constable Jacob Dearduff, Sr.",Stabbed,1823-02-22,Jamestown Police Department,OH,Ohio
19,Constable Elijah Chenault,Assault,1823-08-04,Alexandria Police Department,VA,Virginia
20,Constable Robert Murphy,Stabbed,1824-11-11,Franklin County Sheriff's Department,IN,Indiana
21,Constable William Davidson,Gunfire,1825-04-14,Pennsylvania State Constable - Venango County,PA,Pennsylvania
22,Watch Officer Jonathan Houghton,Assault,1825-12-19,Boston Watch,MA,Massachusetts
23,Watchman Gerrard Arnold,Assault,1827-09-09,Alexandria Police Department,VA,Virginia
24,Watchman Steven Heimer,Gunfire,1828-01-08,Philadelphia Police Department,PA,Pennsylvania

Create a new category in 'death_cause' for all the cause

In [ ]:
weapon_rate = pd.DataFrame({
                             'count': police_deaths_df.death_cause.value_counts(),
                             'rate': (police_deaths_df.death_cause.value_counts()*100/police_deaths_df.shape[0])
                             }).sort_values(by = 'rate', ascending = False)

weapon_rate

                     count       rate
Gunfire              11372  53.337086
Automobile accident   2179  10.219971
Motorcycle accident   1123   5.267108
Heart attack           920   4.314995
Vehicular assault      862   4.042962
...                    ...        ...
Heat exhaustion         11   0.051592
Exposure                 9   0.042212
Boating accident         8   0.037522
Poisoned                 2   0.009380
Unidentified             1   0.004690

[35 rows x 2 columns]

In [ ]:
other_values = weapon_rate[weapon_rate['rate'] < 2]
police_deaths_df.death_cause = police_deaths_df.death_cause.replace(other_values.index, 'Other')

In [ ]:
weapon_rate = pd.DataFrame({
                             'count': police_deaths_df.death_cause.value_counts(),
                             'rate': (police_deaths_df.death_cause.value_counts()*100/police_deaths_df.shape[0])
                             }).sort_values(by = 'rate', ascending = False)

weapon_rate

                      count       rate
Gunfire               11372  53.337086
Other                  2293  10.754655
Automobile accident    2179  10.219971
Motorcycle accident    1123   5.267108
Heart attack            920   4.314995
Vehicular assault       862   4.042962
Struck by vehicle       817   3.831903
Vehicle pursuit         614   2.879790
Assault                 583   2.734393
Gunfire (Accidental)    558   2.617138

# Tax Policy

Read the excel file

In [ ]:
xls = pd.ExcelFile(r'/content/drive/MyDrive/Colab Notebooks/data/TaxPolicyCenter.xls')

Get the data of a chosen year in the file and clean them.

In [ ]:
def clean_xls_by_year(year):
  tax_policy = pd.read_excel(xls, year)

  """ 
      First we delete all rows that are mean of several states and all the NaN value which pollute the dataset.
      We add the year to the DataFrame because we concat it later so we lost this data, and we want this information 
      for the analysis. 
      Next we rename all the columns to get a better view of the data. We rename the columns based on their name in
      the Excel file.
      After that we have to transform all the data from string to float, so we can get some data like mean, 
      and do some calculation. 
  """
  
  tax_policy.drop([8,10,18,26,33,42,56,62,69,], axis=0, inplace=True)
  
  tax_policy = tax_policy.dropna()

  tax_policy['year'] = int(year)

  columns_name = ["Region and State", "Total", "Inter-governmental", "Direct: Total", "Elementary and Secondary Education", 
                  "Higher Education", "Public Welfare", "Health and hospitals", "Highways", "Police", "All Other",
                  "Exhibit: Personal Income"]

  tax_policy = tax_policy.rename(columns={tax_policy.columns[0]: columns_name[0]})

  for i in range(1,len(columns_name)):
    tax_policy = tax_policy.rename(columns={tax_policy.columns[i]:columns_name[i]})
    tax_policy[columns_name[i]] = tax_policy[columns_name[i]].astype(float)

  return tax_policy

Make a list of all the years we want and get all the data of these years then concat all the sheets in one.

In [ ]:
years_list = list(range(2004, 2020))

xls_sheets = [clean_xls_by_year(str(year)) for year in years_list]

tax_policy_cleaned = pd.concat(xls_sheets)
tax_policy_cleaned = tax_policy_cleaned.reset_index(drop=True)

tax_policy_cleaned

,Region and State,Total,Inter-governmental,Direct: Total,Elementary and Secondary Education,Higher Education,Public Welfare,Health and hospitals,Highways,Police,All Other,Exhibit: Personal Income,year
0,Connecticut,15.401500,0.000000,15.401500,4.040743,1.126398,2.559604,1.076181,0.785817,0.494417,5.318339,163013.10,2004
1,Maine,22.246430,0.007949,22.238480,4.983325,1.575843,5.538618,1.388965,1.668474,0.497039,6.586213,41664.13,2004
2,Massachusetts,17.622630,0.066832,17.555800,3.777571,0.977031,3.764592,0.703965,1.179074,0.540550,6.613016,273747.70,2004
3,New Hampshire,15.073310,0.000000,15.073310,4.175564,1.242358,3.073053,0.360684,1.064253,0.484703,4.672692,49312.43,2004
4,Rhode Island,20.057450,0.069634,19.987820,4.731835,1.294728,5.037610,0.842195,0.942375,0.744581,6.394492,38142.14,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Nevada,15.921954,0.001107,15.920847,3.115195,1.139691,2.932723,0.981242,1.230869,0.881911,5.639216,158923.90,2019
812,Oregon,22.873507,0.000000,22.873507,4.121469,2.361946,5.486502,2.191419,1.046371,0.682634,6.983164,221186.40,2019
813,Washington,17.142039,0.000000,17.142039,4.123764,1.556597,2.648860,2.416133,0.996864,0.489260,4.910562,479840.90,2019
814,Alaska,28.294236,0.000000,28.294236,5.172557,1.647582,6.071184,1.521419,2.857707,0.846015,10.177772,45293.90,2019
815,Hawaii,20.213145,0.000512,20.212633,3.052040,1.848714,3.761840,1.484257,1.045425,0.645673,8.374684,78516.10,2019

Converting the percentages into the real value in term of incomes in millions for each field of each state.

In [ ]:
columns_to_convert = [col for col in tax_policy_cleaned.columns if col
                      not in ['Region and State', 'year', 'Exhibit: Personal Income']]

for column in columns_to_convert:
    tax_policy_cleaned[column] = (tax_policy_cleaned[column] / 100) * (tax_policy_cleaned['Exhibit: Personal Income'])

tax_policy_cleaned

,Region and State,Total,Inter-governmental,Direct: Total,Elementary and Secondary Education,Higher Education,Public Welfare,Health and hospitals,Highways,Police,All Other,Exhibit: Personal Income,year
0,Connecticut,25106.462597,0.000000,25106.462597,6586.940427,1836.176298,4172.489828,1754.316010,1280.984652,805.964479,8669.589272,163013.10,2004
1,Maine,9268.781516,3.311882,9265.469217,2076.259006,656.561276,2307.617004,578.700183,695.155176,207.086975,2744.088346,41664.13,2004
2,Massachusetts,48241.544305,182.951063,48058.598717,10341.013728,2674.599891,10305.484014,1927.087996,3227.687956,1479.743192,18102.979201,273747.70,2004
3,New Hampshire,7433.015442,0.000000,7433.015442,2059.072075,612.636919,1515.397109,177.862045,524.809016,239.018828,2304.217972,49312.43,2004
4,Rhode Island,7650.340659,26.559898,7623.782287,1804.823130,493.836966,1921.452259,321.231196,359.441992,283.999127,2438.996091,38142.14,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,Nevada,25303.790253,1.759002,25302.030965,4950.789069,1811.241067,4660.797927,1559.428007,1956.145019,1401.568007,8962.061997,158923.90,2019
812,Oregon,50593.086687,0.000000,50593.086687,9116.128908,5224.303991,12135.396923,4847.121901,2314.429903,1509.893990,15445.809942,221186.40,2019
813,Washington,82254.514216,0.000000,82254.514216,19787.506771,7469.190014,12710.312224,11593.593853,4783.358982,2347.668004,23562.883936,479840.90,2019
814,Alaska,12815.562960,0.000000,12815.562960,2342.853021,746.254008,2749.876010,689.110000,1294.366996,383.192998,4609.909872,45293.90,2019
815,Hawaii,15870.573141,0.402002,15870.171139,2396.343014,1451.537976,2953.649978,1165.381024,820.827017,506.956999,6575.475029,78516.10,2019

# Exporting the datasets cleaned and merged into CSV files

In [ ]:
civilian_deaths_df.to_csv(r'/content/drive/MyDrive/Colab Notebooks/data/data-cleaned/civilian_deaths.csv',
                          sep = ',', encoding = "utf-8", index=False)

In [ ]:
police_deaths_df.to_csv(r'/content/drive/MyDrive/Colab Notebooks/data/data-cleaned/police_deaths.csv',
                          sep = ',', encoding = "utf-8", index=False)

In [ ]:
tax_policy_cleaned.to_csv(r'/content/drive/MyDrive/Colab Notebooks/data/data-cleaned/tax_policy.csv',
                          sep = ',', encoding = "utf-8", index=False)